<manifest
	package="com.xuzhi_client.xuzhi_app_client"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- 用户权限 -->
	<uses-permission android:name="android.permission.CALL_PHONE"/>

	<!-- smsSDK,友盟update权限-->
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<!-- 【必须】 信鸽SDK所需权限 -->
	<!--<uses-permission android:name="android.permission.INTERNET" />-->
	<!--<uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />-->
	<!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-permission android:name="android.permission.BROADCAST_STICKY" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
	<!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
	<uses-permission android:name="android.permission.GET_TASKS" />
	<uses-permission android:name="android.permission.READ_LOGS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<!-- 【可选】 信鸽SDK所需权限 -->
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BATTERY_STATS" />

	<!-- 程序入口 -->
	<application
		android:name="com.module.frame.AppFrame"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<!-- 腾讯信鸽-->
		<!-- 【必须】 (2.30及以上版新增)展示通知的activity -->
		<!-- 【必须】 exported设置为true -->
		<activity
			android:name="com.tencent.android.tpush.XGPushActivity"
			android:theme="@android:style/Theme.Translucent"
			android:exported="true" >
			<intent-filter>
				<!-- 若使用AndroidStudio，请设置android:name="android.intent.action"-->
				<action android:name="android.intent.action" />
			</intent-filter>
		</activity>

		<!-- 【必须】 信鸽receiver广播接收 -->
		<receiver
			android:name="com.tencent.android.tpush.XGPushReceiver"
			android:process=":xg_service_v2" >
			<intent-filter android:priority="0x7fffffff" >

				<!-- 【必须】 信鸽SDK的内部广播 -->
				<action android:name="com.tencent.android.tpush.action.SDK" />
				<action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
				<!-- 【必须】 系统广播：开屏和网络切换 -->
				<action android:name="android.intent.action.USER_PRESENT" />
				<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

				<!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
				<action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
			</intent-filter>
			<!-- 【可选】 usb相关的系统广播，增强信鸽service的复活机会，请根据需要添加 -->
			<intent-filter android:priority="0x7fffffff" >
				<action android:name="android.intent.action.MEDIA_UNMOUNTED" />
				<action android:name="android.intent.action.MEDIA_REMOVED" />
				<action android:name="android.intent.action.MEDIA_CHECKING" />
				<action android:name="android.intent.action.MEDIA_EJECT" />

				<data android:scheme="file" />
			</intent-filter>
		</receiver>

		<!-- 【必须】 信鸽service -->
		<service
			android:name="com.tencent.android.tpush.service.XGPushService"
			android:exported="true"
			android:persistent="true"
			android:process=":xg_service_v2" />

		<!-- 【必须】 通知service，其中android:name部分要改为当前包名 -->
		<service
			android:name="com.tencent.android.tpush.rpc.XGRemoteService"
			android:exported="true" >
			<intent-filter>
				<!-- 【必须】 请修改为当前APP名包.PUSH_ACTION，如demo的包名为：com.qq.xgdemo -->
				<action android:name="com.xuzhi_client.xuzhi_app_client.PUSH_ACTION" />
			</intent-filter>
		</service>

		<!-- 【必须】 请修改为APP的AccessId，“21”开头的10位数字，中间没空格 -->
		<meta-data
			android:name="XG_V2_ACCESS_ID"
			android:value="2100161369" />
		<!-- 【必须】 请修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
		<meta-data
			android:name="XG_V2_ACCESS_KEY"
			android:value="ANP3C5292ENR" />



		<!-- 友盟自动更新-->
		<service
			android:name="com.umeng.update.net.DownloadingService"
			android:process=":DownloadingService">
		</service>
		<activity
			android:name="com.umeng.update.UpdateDialogActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>

		<!-- 友盟APPKEY,渠道tag-->
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="561f2312e0f55ac60600090f"/>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="anzhuoshichang"/>

		<!-- 本地通知-->
		<receiver android:name="com.third.part.local_notice.LocalNotificationReceiver"
				  android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="play_hskay" />
			</intent-filter>
		</receiver>

		<!-- 欢迎界面-->
		<activity
			android:name="com.xuezhi_client.work_flow.welcome_page.ui.WelcomeActivity"
			android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- 01.主页面相关-->
		<activity
			android:name="com.xuezhi_client.work_flow.main_page.ui.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/Theme.InCallScreen">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>

		<!-- 02.注册页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.register_page.ui.RegisterActivity"
			android:label="RegisterActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 03.化验检测流程-->
		<!-- 化验检测页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.assay_detection_flow.assay_detection_page.ui.AssayDetectionActivity"
			android:label="AssayDetectionActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 化验检测历史页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.assay_detection_flow.assay_detection_history_info_page.ui.AssayDetectionHistoryInfoActivity"
			android:label="AssayDetectionHistoryInfoActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 化验检查记录页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.assay_detection_flow.assay_detection_history_item_info_page.ui.AssayDetectionHistoryItemInfoActivity"
			android:label="AssayDetectionHistoryItemInfoActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 04. 药品提醒流程-->
		<!-- 药品提醒页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medicine_reminder_flow.medicine_reminder_page.ui.MedicineReminderActivity"
			android:label="MedicationReminderActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 药品提醒设置页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medicine_reminder_flow.medicine_reminder_setting_page.ui.MedicineReminderSettingActivity"
			android:label="MedicationReminderSettingActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 药品提醒添加页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medicine_reminder_flow.medicine_reminder_add_page.ui.MedicineReminderAddActivity"
			android:label="MedicineReminderAddActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 05.药品管理流程-->
		<!-- 药品管理页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_administration_page.ui.DrugAdministrationActivity"
			android:label="DrugAdministrationActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 药品管理设定页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_administration_setting_page.DrugAdministrationSettingActivity"
			android:label="DrugAdministrationSettingActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 药品管理添加药品页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_stock_add_page.ui.DrugStockAddActivity"
			android:label="DrugStockAddActivity"
			android:screenOrientation="portrait">
		</activity>

		<!--06. 日历-->
		<!-- 日历页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.calendar_flow.calender_page.ui.CalenderActivity"
			android:label="CalenderActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 图标页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.calendar_flow.selected_month_chart_page.ui.SelectedMonthChartActivity"
			android:label="SelectedMonthChartActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 用药明细页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.calendar_flow.selected_day_taken_medicine_history_page.ui.SelectedTakenMedicineHistoryActivity"
			android:label="SelectedTakenMedicineHistoryActivity"
			android:screenOrientation="portrait">
		</activity>
		<!-- 07. 风险评估-->
		<activity
			android:name="com.xuezhi_client.work_flow.risk_assessment_page.ui.RiskAssessmentActivity"
			android:label="RiskAssessmentActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 08. 用户需知-->
		<activity
			android:name="com.xuezhi_client.work_flow.user_protocal_page.ui.UserProtocalActivity"
			android:label="UserProtocalActivity"
			android:screenOrientation="portrait">
		</activity>

		<!-- 09. 常见问题-->
		<activity
			android:name="com.xuezhi_client.work_flow.faq_page.ui.FaqActivity"
			android:label="FaqActivity"
			android:screenOrientation="portrait">
		</activity>

	</application>

</manifest>
