<manifest package="com.xuzhi_client.xuzhi_app_client"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- 用户权限 -->
	<uses-permission android:name="android.permission.CALL_PHONE"/>


	<!-- smsSDK权限-->
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

	<!-- 程序入口 -->
	<application
		android:name="com.module.frame.AppFrame"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<!-- 01.主页面相关-->
		<activity
			android:name="com.xuezhi_client.work_flow.main_page.ui.MainActivity"
			android:label="@string/app_name"
			android:launchMode="singleTask"
			android:theme="@style/Theme.InCallScreen">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- 02.注册页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.register_page.ui.RegisterActivity"
			android:screenOrientation="portrait"
			android:label="RegisterActivity">
		</activity>

		<!-- 03.化验检测流程-->
		<!-- 化验检测页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.assay_detection_flow.assay_detection_page.ui.AssayDetectionActivity"
			android:screenOrientation="portrait"
			android:label="AssayDetectionActivity">
		</activity>
		<!-- 化验检测历史页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.assay_detection_flow.assay_detection_history_info_page.ui.AssayDetectionHistoryInfoActivity"
			android:screenOrientation="portrait"
			android:label="AssayDetectionHistoryInfoActivity">
		</activity>

		<!-- 04. 药品提醒流程-->
		<!-- 药品提醒页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medication_reminder_flow.medication_reminder_page.ui.MedicationReminderActivity"
			android:screenOrientation="portrait"
			android:label="MedicationReminderActivity">
		</activity>
		<!-- 药品提醒设置页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medication_reminder_flow.medication_reminder_setting_page.ui.MedicationReminderSettingActivity"
			android:screenOrientation="portrait"
			android:label="MedicationReminderSettingActivity">
		</activity>
		<!-- 药品提醒添加页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.medication_reminder_flow.medicine_reminder_add_page.ui.MedicineReminderAddActivity"
			android:screenOrientation="portrait"
			android:label="MedicineReminderAddActivity">
		</activity>

		<!-- 05.药品管理流程-->
		<!-- 药品管理页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_administration_page.ui.DrugAdministrationActivity"
			android:screenOrientation="portrait"
			android:label="DrugAdministrationActivity">
		</activity>
		<!-- 药品管理设定页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_administration_setting_page.DrugAdministrationSettingActivity"
			android:screenOrientation="portrait"
			android:label="DrugAdministrationSettingActivity">
		</activity>
		<!-- 药品管理添加药品页面-->
		<activity
			android:name="com.xuezhi_client.work_flow.drug_administration_flow.drug_stock_add_page.ui.DrugStockAddActivity"
			android:screenOrientation="portrait"
			android:label="DrugStockAddActivity">
		</activity>


		<!-- 07. 风险评估-->
		<activity
			android:name="com.xuezhi_client.work_flow.risk_assessment_page.ui.RiskAssessmentActivity"
			android:screenOrientation="portrait"
			android:label="RiskAssessmentActivity">
		</activity>

		<!-- 08. 用户需知-->
		<activity
			android:name="com.xuezhi_client.work_flow.user_protocal_page.ui.UserProtocalActivity"
			android:screenOrientation="portrait"
			android:label="UserProtocalActivity">
		</activity>

	</application>

</manifest>
