<manifest package="com.taixinkanghu.hiworld.taixinkanghu_client"
		  xmlns:android="http://schemas.android.com/apk/res/android">

	<!-- 用户权限 -->
	<uses-permission android:name="android.permission.CALL_PHONE"/>


	<!-- smsSDK权限-->
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


	<application
		android:name="com.module.frame.AppFrame"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<!-- 友盟自动更新-->
		<service
			android:name="com.umeng.update.net.DownloadingService"
			android:process=":DownloadingService">
		</service>
		<activity
			android:name="com.umeng.update.UpdateDialogActivity"
			android:theme="@android:style/Theme.Translucent.NoTitleBar">
		</activity>

		<!-- 友盟APPKEY,渠道tag-->
		<meta-data
			android:name="UMENG_APPKEY"
			android:value="561f227067e58e17ea001a2e"/>
		<meta-data
			android:name="UMENG_CHANNEL"
			android:value="anzhuoshichang"/>

		<!-- 欢迎界面 -->
		<activity
			android:name="com.taixinkanghu_client.work_flow.welcome.ui.WelcomeActivity"
			android:screenOrientation="portrait"
			android:label="@string/welcome_activity_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<!-- 主页面相关-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.main_page.ui.MainActivity"
			android:screenOrientation="portrait"
			android:label="@string/main_activity_name"
			android:launchMode="singleTask"
			android:theme="@style/Theme.InCallScreen">
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
			</intent-filter>
		</activity>

		<!-- 注册页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.register_flow.ui.RegisterActivity"
			android:screenOrientation="portrait"
			android:label="RegisterActivity">
		</activity>

		<!-- 01. 预约陪护流程-->
		<!-- 预约陪护页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.appiontment_nursing_page.ui.ApoitNursingActivity"
			android:screenOrientation="portrait"
			android:label="ApoitNursingActivity">
		</activity>

		<!-- 选择护理员页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.select_nurse_page.ui.SelectNurseActivity"
			android:screenOrientation="portrait"
			android:label="SelectNurseActivity">
		</activity>

		<!-- 选择日期页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.select_date_page.ui.SelectDateActivity"
			android:screenOrientation="portrait"
			android:label="SelectDateActivity">
		</activity>


		<!-- 用户协议页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.user_protocal_page.UserProtocalActivity"
			android:screenOrientation="portrait"
			android:label="UserProtocalActivity">
		</activity>

		<!-- 护理员信息页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.nurse_info_page.ui.NurseInfoActivity"
			android:screenOrientation="portrait"
			android:label="NurseInfoActivity">
		</activity>

		<!-- 评论页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.comment_page.ui.CommentActivity"
			android:screenOrientation="portrait"
			android:label="CommentActivity">
		</activity>

		<!-- 护理员订单确认页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.order_confirm_page.ui.OrderConfirmActivity"
			android:screenOrientation="portrait"
			android:label="OrderConfirmActivity">
		</activity>

		<!-- 患者信息页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.patient_info_page.ui.PatientActivity"
			android:screenOrientation="portrait"
			android:label="PatientActivity">
		</activity>

		<!-- 支付页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.appiontment_nursing_flow.nurse_order_pay.ui.NurseOrderPayInNormalActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayInNormalActivity">
		</activity>

		<!-- 02. nurse order flow-->
		<!-- 护理员订单list-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.nurse_order_flow.ui.NurseOrderActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderActivity">
		</activity>

		<!-- 03. comment nurse order flow-->
		<!-- 护理员订单添加评论-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.comment_nurse_order_flow.ui.CommentNurseOrderActivity"
			android:screenOrientation="portrait"
			android:label="CommentNurseOrderActivity">
		</activity>

		<!-- 04. nurse order pay in wait pay flow-->
		<!-- 在待支付情况下的，支付页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.nurse_order_pay_in_wait_pay_flow.ui.NurseOrderPayInWaitPayActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayInWaitPayActivity">
		</activity>

		<!-- 05. pay more flow-->
		<!-- 补差价页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.nurse_order_pay_more_flow.nurse_orde_pay_in_pay_more_page.ui.NurseOrderPayInPayMoreActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayInPayMoreActivity">
		</activity>
		<!-- 补差价的支付页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.nurse_order_pay_more_flow.nurse_order_pay_more_page.ui.NurseOrderPayMoreActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayMoreActivity">
		</activity>

		<!-- 06. 续订流程-->
		<!-- 预约陪护页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.appointment_nursing_page.ui.RepeatOrderApoitNursingActivity"
			android:screenOrientation="portrait"
			android:label="RepeatOrderApoitNursingActivity">
		</activity>
		<!-- 选择日期页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.select_date_page.ui.SelectDateActivity"
			android:screenOrientation="portrait"
			android:label="SelectDateActivity">
		</activity>
		<!-- 用户协议页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.user_protocal_page.ui.UserProtocalActivity"
			android:screenOrientation="portrait"
			android:label="UserProtocalActivity">
		</activity>
		<!-- 确认订单页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.confirm_order_page.ui.OrderConfirmActivity"
			android:screenOrientation="portrait"
			android:label="OrderConfirmActivity">
		</activity>
		<!-- 患者信息页面-->

		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.patient_info_page.ui.PatientActivity"
			android:screenOrientation="portrait"
			android:label="PatientActivity">
		</activity>
		<!-- 支付页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.repeat_order_flow.nurse_order_pay_page.ui.NurseOrderPayInRepeatOrderActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayInRepeatOrderActivity">
		</activity>

		<!-- 07. 更换护理员的页面-->
		<!-- 选择护理员页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.change_nurse_flow.nurse_list_page.ui.SelectNurseActivity"
			android:screenOrientation="portrait"
			android:label="SelectNurseActivity">
		</activity>
		<!-- 护理员详细信息页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.change_nurse_flow.nurse_info_page.ui.NurseInfoActivity"
			android:screenOrientation="portrait"
			android:label="NurseInfoActivity">
		</activity>
		<!-- 评论页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.change_nurse_flow.comment_page.ui.CommentActivity"
			android:screenOrientation="portrait"
			android:label="CommentActivity">
		</activity>
		<!-- 订单确认页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.change_nurse_flow.nurse_order_confirm_page.ui.OrderConfirmActivity"
			android:screenOrientation="portrait"
			android:label="OrderConfirmActivity">
		</activity>
		<!-- 支付页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.change_nurse_flow.nurse_order_pay_page.ui.NurseOrderPayInChangeNurseActivity"
			android:screenOrientation="portrait"
			android:label="NurseOrderPayInChangeNurseActivity">
		</activity>

		<!-- 10. personal wealth flow-->
		<!-- 我的财富页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.personal_wealth_flow.personal_wealth_page.ui.PersonalWealthActivity"
			android:screenOrientation="portrait"
			android:label="PersonalWealthActivity">
		</activity>

		<!-- 我的积分页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.personal_wealth_flow.persional_score_page.ui.PersonalScoreActivity"
			android:screenOrientation="portrait"
			android:label="PersonalScoreActivity">
		</activity>

		<!-- 11. personal setting flow-->
		<!-- 我的设置页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.personal_setting_flow.ui.PersonalSettingActivity"
			android:screenOrientation="portrait"
			android:label="PersonalSettingActivity">
		</activity>

		<!-- 12. show flow-->
		<!-- 公司展示信息页面，等同于下面的公司介绍页面-->
		<!-- 促销产品展示信息页面-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.show_flow.shopping_show.ui.ShoppingShowActivity"
			android:screenOrientation="portrait"
			android:label="ShoppingShowActivity">
		</activity>

		<!-- 13. 服务流程-->
		<!-- 问题反馈-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.service_flow.question_feed_page.ui.QuestionFeedBackActivity"
			android:screenOrientation="portrait"
			android:label="QuestionFeedBackActivity">
		</activity>

		<!-- 14. 公司流程-->
		<!-- 公司介绍-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.company_flow.company_show_page.ui.CompanyShowActivity"
			android:screenOrientation="portrait"
			android:label="CompanyShowActivity">
		</activity>

		<!-- 服务介绍-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.company_flow.service_introduction_page.ui.ServiceIntroductionActivity"
			android:screenOrientation="portrait"
			android:label="ServiceIntroductionActivity">
		</activity>

		<!-- 护理员级别-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.company_flow.nurse_level_introduction_page.ui.NurseLevelActivity"
			android:screenOrientation="portrait"
			android:label="NurseLevelActivity">
		</activity>

		<!-- 常见问题-->
		<activity
			android:name="com.taixinkanghu_client.work_flow.company_flow.faq_page.ui.FaqActivity"
			android:screenOrientation="portrait"
			android:label="FaqActivity">
		</activity>

	</application>

</manifest>
